@import url("");

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Header {
  background-color: black;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 19px 0 23px;
}

.Main {
  background-color: var(--color-background);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: normal;
  padding: 15px;
  padding-bottom: 140px;
}

.Header__Logo {
  max-height: 85%;
}

.Fabutton {
  background-color: white;
  border: 2px solid black;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 10px 19px;
  text-align: center;
  cursor: pointer;
}

.Fabutton--active {
  background-color: black;
  color: white;
  border-color: white;
}

.DoubleColumnContainer {
  display: flex;
  flex-wrap: wrap;
}

.DoubleColumnContainer > div {
  flex-basis: 50%;
  margin-bottom: 21px;
}

.DoubleColumnContainer > div:nth-child(even) {
  border-left: none;
}

.WeiterButton {
  width: 172px;
  position: fixed;
  bottom: 40px;
  right: 17px;
}

.ClickablePicto {
  cursor: pointer;
  width: 109px;
}

.RobiGif {
  position: fixed;
  z-index: 999;
  pointer-events: none;
}

.RobiGif img {
  width: 100%;
}

.FabSlider {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 100px 0 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.FabSlider__elementTop,
.FabSlider__elementBottom {
  width: 63px;
  height: auto;
  cursor: pointer;
}

.FabSlider__image {
  width: 100%;
}

.FabSlider__bar {
  width: 25px;
  height: 226px;
  background-color: white;
  border: 2px solid black;
  position: relative;
  margin: 10px 0;
}

.FabSlider__bar__filler {
  background-color: black;
}

.FabTextInput {
}

.FabTextInput__input {
  width: 100%;
  height: 65px;
  border: 2px solid black;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
}

.FabTextArea {
  width: 100%;
}

.FabTextArea__inner {
  height: 65px;
  width: 100%;
  border: 2px solid black;
  font-size: inherit;
  font-family: inherit;
}

.vertical-grid {
  display: grid;
  grid-gap: 26px;
}
