/* Global styling variables */
html {
  --color-background: #ddbbfc;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.Header {
  background-color: black;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 19px 0 23px;
}

.Main {
  background-color: var(--color-background);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header__Logo {
  max-height: 85%;
}
