@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

img[src$=".gif"] {
  /* display: none; */
}

/* Global styling variables */
html {
  --color-background: #ddbbfc;
  --button-height: 65px;
  --button-height-tablet: 94px;
  --button-max-width: 480px;
}

html,
body {
  height: 100%;
  overscroll-behavior-y: contain; /* prevent pull-to-refresh in mobile Chrome */
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: black;
  background-color: white;
}

@media (min-width: 830px) {
  body {
    font-size: 40px;
  }
}

#root {
  height: 100%;
}
